#footer-section {
  width: 100%;
  background-color: rgba(53, 52, 52, 0.7);
  margin-top: 60px;
  height: auto;
}
.three-colums {
  width: 70%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr) auto;
  align-content: center;
  gap: 50px;
}


.first-colums h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.second-colums ul {
  padding: 0;
}
.second-colums ul li {
  list-style: none;
  color: gray;
  line-height: 30px;
  font-size: 1rem;
}
.second-colums h4 {
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: 700;
}
.second-colums {
  /* flex-grow: 1; */
  margin-left: 55%;
}
.copyright-text {
  text-align: center;
  color: papayawhip;
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  width: 70%;
  margin: 20px auto 0 auto;
  /* margin-top: 20px; */
}
.break-line {
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 576px) {
  #footer-section {
    width: 100%;
    height: auto;
  }
  .three-colums {
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    margin: 0 auto;
  }
  .second-colums {
    margin: 0;
  }
  .second-colums ul {
    padding: 0;
  }
  .second-colums ul li {
    font-size: 1.4rem;
    line-height: 50px;
  }
  .brand-name {
    font-size: 3.25rem;
    font-weight: 900;
    font-style: italic;
  }
  .team-description {
    line-height: 30px;
    font-size: 1.1rem;
    width: 90%;
  }
  .break-line {
    width: 90%;
    margin: 0 auto;
  }
  .copyright-text {
    width: 90%;
    font-size: 1.4rem;
    text-align: left;
    margin: 20px auto 0 auto;
  }
}
