#run-an-extra {
  width: 70%;
  margin: 58px auto;
  display: grid;
  grid-template-columns:  60% 40%;
  padding: 40px;
  background-color: rgba(53, 52, 52,0.7);
  border-radius: 16px;
}
#run-an-extra img {
  width: 100%;
  /* height: 300px; */
  border-radius: 30px;
  margin-left: 0;
}
#run-an-extra .run-title {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 900;
}

#run-an-extra .run-description {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 10px;
  margin-bottom: 30px;
  width: 80%;
  line-height: 30px;
  /* text-align: center; */
  /* margin: 18px auto; */
}

.left-side{
    align-content: center;
}
.Join-button {
  width: 224px;
  height: 54px;
  border-radius: 42px;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  background-color: rgba(230, 83, 60, 1);
}

@media screen and (max-width: 576px) {
  #run-an-extra{
    grid-template-columns:  repeat(1, 1fr);
  }
  #run-an-extra .run-title{
    color: #ffffff;
    font-size: 2rem;
    font-weight: 900;
    margin-top: 10px;
  }
  #run-an-extra .run-description{
    text-align: justify;
    width: 100%;
  }
  .Join-button{
    width: 100%;
    margin-bottom: 20px;
  }
}


