@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.inter-googleInterFont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

@font-face {
  font-family: "Miama Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../Fonts/Miama-Regular.woff");
}

@font-face {
  font-family: "Miama";
  font-style: normal;
  font-weight: normal;
  src: url("../Fonts/Miama.woff");
}


* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #000000;
  margin: 0;
  font-family: "Inter", sans-serif;
}

#banner-section {
  width: 100%;
  height: 715px;
  background: linear-gradient(
    to bottom,
    rgba(17, 17, 17, 1),
    rgba(119, 119, 119, 0)
  );
  /* border: 1px solid skyblue; */
}
.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  width: 70%;
  
}
.nav-section ul li {
  margin-left: 47px;
}
.nav-section ul li:first-child {
  margin-left: 0;
}
.nav-section ul li:last-child {
  margin-right: 5px;
}
.nav-section ul li a {
  text-decoration: none;
  font-size: 1.125rem;
  color: #ffffff;
}
.nav-section ul {
  display: flex;
  align-items: center;
  list-style: none;
  border: 0.1px solid rgb(88, 87, 87);
  border-radius: 39px;
  padding: 6px;
}

.common-button {
  width: 92px;
  height: 38px;
  border-radius: 46px;
  background-color: rgba(230, 83, 60, 1);
  color: white;
  font-size: 1.125rem;
  font-weight: 600;
  border: none;
}

.common-width {
  /* width: 80%; */
  margin: 0 auto;
  margin-top: 57px;
}
.common-color {
  color: rgba(230, 83, 60, 1);
}
.brand-name {
  font-size: 2.25rem;
  font-weight: bolder;
  font-style: italic;
}

.bar-icons {
  display: none;
}
.header-section {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: 0 auto;
}

.title-section {
  width: 600px;
  height: 440px;
  /* border: 1px solid skyblue; */
  margin-top: 100px;
}

.brand-title {
  font-size: 4.9rem;
  color: #ffffff;
  font-weight: 900;
  line-height: 80px;
  font-family: "Inter", sans-serif;
  margin: 0px;
}
.image-section img {
  width: 100%;
  height: 580px;
  margin: 32px 24px;
}
.ball{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgba(230, 83, 60, 1);
  position: relative;
  
}
.box{
  color: #ffffff;
  width: 206px;
  height: 96;
  background: linear-gradient(
    rgba(48, 48, 48, 0.54), 
    rgba(255, 255, 255, 0.1)
  ), 
  rgba(255, 255, 255, 0.1);
  margin: -190px 270px 0 1150px;
  display: flex;
  z-index: 1;
  position: relative;
  padding: 15px;
  border-radius: 12px;
  align-items: center;
  
}
.box2{
  color: #ffffff;
  width: 193px;
  height: 98px;
  background: linear-gradient(
    rgba(48, 48, 48, 0.54), 
    rgba(255, 255, 255, 0.1)
  ), 
  rgba(255, 255, 255, 0.1);
  margin: -380px 270px 0 1500px;
  z-index: 1;
  position: relative;
  padding: 15px;
  border-radius: 12px;
  
}
.work-video{
  font-size: 2.5rem;
  font-weight: 900;
}
.work-video-des{
  font-size: 0.8rem;
  letter-spacing: 1px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.title-section {
  width: 520px;
  height: 440px;
}
.brand-title .font-miama {
  font-family: "Miama Regular";
  font-size: 4.9rem;
  font-weight: 400;
}
.brand-description {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  margin: 28px 0;
}
.brand-button1 {
  width: 224px;
  height: 54px;
  border-radius: 42px;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  background-color: rgba(230, 83, 60, 1);
  font-family: "Inter", sans-serif;
  /* margin: 16px 40px; */
}
.brand-button2 {
  width: 224px;
  height: 54px;
  border-radius: 42px;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  background-color: black;
  border: 1px solid white;

  /* border: 1px solid white; */
  /* background-color: rgba(230, 83, 60, 1); */
  /* background-color: #000000; */

  /* margin: 16px 40px; */
}

/* Change you habits section */

#habits-section{
  width: 70%;
  height: 492px;
  /* border: 1px solid skyblue; */
  margin: 0 auto;
}
.habit-title{
  font-size: 3rem;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
}
.habit-description{
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  width: 671px;
  margin: 18px auto;
}
.four-exercise{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 60px;
}
.four-exercise img{
  width: 100%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5); ;
}
.exercise-title{
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
}
.excrcise-description{
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-top: 10px;
}
.fa-solid{
  display: none;
}

@media screen and (max-width: 576px) {
  *{
    overflow: hidden;
  }
  .nav-section ul {
    display: none;
  }
  .fa-solid {
    color: #ffffff;
    margin-top: 10px;
    margin-right: 10px;
  }
  .nav-section {
    width: 90%;
  }
  .header-section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
  }
  .title-section{
    width: 80%;
    height: auto;
    
  }
  .brand-title{
    font-size: 3.25rem;
    line-height: 50px;
  }

  .title-button{
    display: flex;
    justify-content: space-between;
  }
  .brand-title .font-miama{
    font-size: 3.25rem;
    
  }
  .box{
   margin: -300px 30px;
   width: 200px;
  }
  .box2{
    margin: -340px 220px;
    width: 190px;
  }
  .image-section img{
    width: 80%;
    height: auto;
    margin: 48px 0 0 0;
  }
  .four-exercise{
    display: grid;
    width: 90%;
    grid-template-columns: repeat(1,1fr);
  }
  .exercise-title{
    font-size: 1rem;
  }
  .excrcise-description{
    font-size: 0.5rem;
  }
}
