@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.inter-googleInterFont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

@font-face {
  font-family: "Miama Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../Fonts/Miama-Regular.woff");
}

@font-face {
  font-family: "Miama";
  font-style: normal;
  font-weight: normal;
  src: url("../Fonts/Miama.woff");
}

body {
  background-color: #000000;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

#banner-section {
  width: 100%;
  height: 695px;
  background: linear-gradient(
    to bottom,
    rgba(119, 119, 119, 0.2),
    rgba(17, 17, 17, 1)
  );
}
#banner-section .nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 46px; */
  width: 70%;
}
.nav-section ul li {
  margin-left: 47px;
}
.nav-section ul li:first-child {
  margin-left: 0;
}
.nav-section ul li:last-child {
  margin-right: 5px;
}
.nav-section ul li a {
  text-decoration: none;
  font-size: 1.125rem;
  color: #ffffff;
}
.nav-section ul {
  display: flex;
  align-items: center;
  list-style: none;
  border: 0.1px solid rgb(88, 87, 87);
  border-radius: 39px;
  padding: 6px;
}

.common-button {
  width: 92px;
  height: 38px;
  border-radius: 46px;
  background-color: rgba(230, 83, 60, 1);
  color: white;
  font-size: 1.125rem;
  font-weight: 600;
  border: none;
}
.common-width {
  margin: 0 auto;
}
.common-color {
  color: rgba(230, 83, 60, 1);
}
.brand-name {
  font-size: 2.25rem;
  font-weight: bolder;
  font-style: italic;
}
.header-section {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: 0 auto;
}

.title-section {
  width: 600px;
  height: 440px;
  /* border: 1px solid skyblue; */
  margin-top: 100px;
}

.brand-title {
  font-size: 4.9rem;
  color: #ffffff;
  font-weight: 900;
  line-height: 80px;
  margin: 0px;
}
.image-section img {
  width: 100%;
}
.box-container {
  display: block;
  flex-direction: column;
}
/* .box-container > .box1{
  color: #ffffff;
  width: 193px;
  background: linear-gradient(rgba(48, 48, 48, 0.54), rgba(255, 255, 255, 0.1)),
    rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px) brightness(70%);
  z-index: 1;
  position: relative;
  padding: 10px;
  border-radius: 12px;
  line-height: 8px;
  margin-left: 55%;
  margin-top: 13%;
  margin-bottom: -74%;
  display: flex;
  align-items: center;
} */

.ball {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgba(230, 83, 60, 1);
  position: relative;
}
.box1 .video-count {
  font-size: 40px;
  font-weight: 900;
  color: #ffffff;
}
.box1 .tutorial-title {
  font-size: 13px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.65);
  letter-spacing: 1px;
}

.box1 {
  filter: blur(100%);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  width: 193px;
  z-index: 1;
  position: relative;
  margin-top: 13%;
  margin-left: 55%;
  height: 98px;
  line-height: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.box2 {
  filter: blur(100%);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  width: 193px;
  margin-top: -470px;
  z-index: 1;
  position: relative;
  margin-left: 79%;
  height: 98px;
  line-height: 1px;
  padding: 10px;
}
.box2 .counts-500 {
  font-size: 40px;
  font-weight: 900;
  color: #ffffff;
}
.box2 .workouts-video {
  font-size: 13px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.65);
  letter-spacing: 1px;
}
.title-section {
  width: 520px;
  height: 440px;
}
.brand-title .font-miama {
  font-family: "Miama Regular";
  font-size: 4.9rem;
  font-weight: 400;
}
.brand-description {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  margin: 28px 0;
}
.brand-button1 {
  width: 224px;
  height: 54px;
  border-radius: 42px;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  background-color: rgba(230, 83, 60, 1);
}
.brand-button3 {
  width: 224px;
  height: 54px;
  border-radius: 42px;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  background-color: rgba(230, 83, 60, 1);
}
.brand-button2 {
  width: 224px;
  height: 54px;
  border-radius: 42px;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  background-color: black;
  border: 1px solid white;
}

/* Change you habits section */

#habits-section {
  width: 70%;
  height: auto;
  /* border: 1px solid skyblue; */
  margin: 0 auto;
}
.habit-title {
  font-size: 3rem;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
}
.habit-description {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  width: 671px;
  margin: 18px auto;
}
.four-exercise {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 60px;
}
.four-exercise img {
  width: 100%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}
.exercise-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
}
.excrcise-description {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-top: 10px;
}


.icon{
  display: none;
}

.title-button > .brand-button3 {
  display: none;
}

@media screen and (min-width: 1900px) {
  .box1 {
    filter: blur(100%);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: 193px;
    z-index: 1;
    position: relative;
    margin-top: 10%;
    margin-left: 61%;
    height: 98px;
    line-height: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 576px) {
  #banner-section {
    width: 100%;
    height: 1350px;
    background: linear-gradient(
      to bottom,
      rgba(119, 119, 119, 0.2),
      rgba(17, 17, 17, 1)
    );
  }
  #banner-section .nav-section {
    width: 90%;
  }

  .box2 {
    margin-left: 55%;
    margin-top: -500px;
    width: 130px;
    height: 74px;
  }
  .box2 .counts-500 {
    font-size: 2rem;
    font-weight: 900;
    color: #ffffff;
  }
  .box2 .workouts-video {
    font-size: 0.6rem;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.65);
    letter-spacing: 1px;
  }

  .box1 {
    margin-top: 25%;
    margin-left: 15%;
    width: 140px;
    height: 74px;
    margin-bottom: 75%;
  }
  .box1 .video-count {
    font-size: 2rem;
  }
  .box1 .tutorial-title {
    font-size: 0.6rem;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.65);
    letter-spacing: 1px;
  }
  .header-section {
    width: 90%;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .title-section {
    width: auto;
  }
  .brand-title,
  .font-miama {
    font-size: 3rem;
  }
  /* .image-section {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: auto;
  } */

  #habits-section {
    margin: 0 auto;
    width: 90%;
    height: auto;
  }
  .habit-title {
    font-size: 2rem;
    font-weight: 900;
    color: #ffffff;
    text-align: center;
  }
  .habit-description {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    width: 90%;
    margin: 15px auto;
    flex-wrap: wrap;
  }
  .four-exercise {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }
  .four-exercise img {
    width: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
    margin-left: 25%;
    margin-right: 25%;
  }
  .excrcise-description {
    margin-top: 5px;
  }

  .list-items ul {
    display: none;
  }
  .list-items .icon {
    display: inline-block;
    color: #ffffff;
  }
  .title-button > .brand-button1 {
    display: none;
  }
  .title-button > .brand-button3 {
    width: 100%;
    border: 1px solid skyblue;
  }
}
