#trainings-exercises {
  width: 70%;
  height: auto;
  margin: 58px auto;
}
/* .multi-trainings-exercises{
    height: 40px;
} */
.trainings-exercises-title {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 0;
}
.trainings-exercises-description {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;
  width: 50%;
}
.first-row {
  display: grid;
  grid-template-columns: repeat(3, 25% 50%) auto;
  overflow: hidden;
}
.first-row img, .second-row img {
  width: 100%;
  height: 100%;
}
.second-row {
  display: grid;
  grid-template-columns: repeat(3, 40% 25%) auto;
  overflow: hidden;
}

.second-row > img > .exercise1 {
  position: relative;
  z-index: 1;
  background-color: red;
  filter: blur(50px);
  object-fit: cover;
}
.exercise-container{
  position: relative;
  text-align: left;
  color: black;
  line-height: 10px;
}

.exercise-container > .exercise1-title{
  position: absolute;
  bottom: 20px;
  left: 16px;
  backdrop-filter:  brightness(99%);
  /* backdrop-filter: blur(8px) brightness(80%); */
  z-index: 1;
  font-size: 0.8rem;
  font-weight: bold;
}
@media screen and (max-width: 576px) {
  #trainings-exercises {
    width: 90%;
    height: auto;
    margin: 58px auto;
  }
  .multi-trainings-exercises{
    /* margin: 0;
    padding: 0;
  } */
  .trainings-exercises-description {
    width: 90%;
  }
  .trainings-exercises-title {
    font-size: 2rem;
  }
  .exercise3{
    display: none;
  }
  .exercise6{
    display: none;
  }
  .first-row {
    grid-template-columns: repeat(2, 1fr);
    display: inline-flex;
  }
  .second-row {
    grid-template-columns: 45% auto repeat(2, 1fr);
    
  }
  .first-row img, .second-row img{
    width: 150% ;
    height: 100%;
  }
}
}